pipeline/ParameterPipeline.json
{
	"name": "ParameterPipeline",
	"properties": {
		"activities": [
			{
				"name": "Getmetadata",
				"description": "ddsffd",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "DelimitedText2",
						"value": "1"
					}
				],
				"typeProperties": {
					"dataset": {
						"referenceName": "ParametersDataSet",
						"type": "DatasetReference",
						"parameters": {
							"test": "1"
						}
					},
					"fieldList": [
						"itemName",
						"lastModified",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Getmetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "test",
					"value": {
						"value": "@activity('Getmetadata').output.exists",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"test": {
				"type": "string"
			}
		},
		"variables": {
			"test": {
				"type": "Boolean"
			}
		},
		"folder": {
			"name": "Several"
		},
		"annotations": [],
		"lastPublishTime": "2021-10-14T15:44:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}