pipeline/Pipeline for Auth.json
{
	"name": "Pipeline for Auth",
	"properties": {
		"description": "Remember the Generate bear token link",
		"activities": [
			{
				"name": "Request",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Grab Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://management.azure.com/subscriptions/8015c88d-4cf5-4440-8891-416255ee8f4d/providers/Microsoft.DataFactory/factories?api-version=2018-06-01",
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ',activity('Grab Token').output.access_token)",
							"type": "Expression"
						}
					},
					"disableCertValidation": false
				}
			},
			{
				"name": "Grab Token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/token",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "grant_type=client_credentials&client_id=26d73cde-a211-4d4e-99ff-00ce51dfc292&client_secret=ifx7Q~.1uLw4vzxB9k1D1oMdOX4gkBX~UqJvM&resource=https://management.azure.com/"
				}
			}
		],
		"folder": {
			"name": "Auth Web Activity"
		},
		"annotations": [],
		"lastPublishTime": "2021-10-14T15:44:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}